<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="" method="post">
    <time>Sat, 12:35pm</time>
    <h3>Arsenal v <br>
        Chelsea</h3>
    <h5>Friendly Match</h5>
    <input type="text" />
    <input type="checkbox" checked/>
    <input type="checkbox"/>Turn on all match notifications
<button >Отправить</button>
    <h4>{{list}}</h4>
</form>
</body>
</html>