<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
      <tbody>
      <tr>
          <th  class="cell">Name</th>
          <th  class="cell">Surname</th>
          <th  class="cell">Birthday</th>
          <th  class="cell">Company</th>
          <th  class="cell">position</th>
          <th  class="cell">Language</th>
          <th  class="cell">Salary</th>
      </tr>
      </tbody>
{%for human in humans%}
      <tr>
      <td> {{human.name}}</td>
      <td>{{human.surname}}</td>
      <td> {{human.birth}}</td>
      <td>{{human.company}}</td>
      <td> {{human.position}}</td>
      <td>{{human.language}}</td>
      <td> {{human.salary}}</td>
      </tr>
    {%empty%}
    <h1>Результат порожній</h1>
{%endfor%}
</table>
<br>

<a href="{{human_list}}">Cancel</a>

 <style>
          tbody{
              display: table-row-group;
              vertical-align: middle;
              border-color: indigo;
          }
          tr{
               display: table-row;
              vertical-align: inherit;
              border-color: indigo;
          }
          th{
              background-color:deepskyblue ;
              text-align:left;
          }
      </style>

</body>
</html>